<section class="product container mt-5">
  <div class="row">
    <div class="product-photo-container col-lg-6 col-md-12 position-relative">

      <div class="product__photo">
        <div class="photo-container">
          <div class="photo-main">
            <div class="controls">
              <i class="material-icons pi pi-share-alt p-2"></i>
              <i class="material-icons pi pi-heart-fill p-2" (click)="addToWishList(product.id)"></i>
            </div>
            <img [src]="product?.imageCover" alt="{{product?.title}}">
          </div>
          <div class="photo-album">
            <ul>
              @for(image of product?.images; track image) {
                <li><img src="{{image}}" role="button" (click)="changeImageCover(image)"></li>
              }
            </ul>
          </div>
        </div>
      </div>
    </div>



    <div class="product-info-container offset-1 col-lg-5 col-md-12">

      <div class="product__info">
        <div class="title">
          <h1>{{product?.title}}</h1>
          <div class="d-flex align-items-center mt-3">
            <p class="text-black-50 me-4 mb-0">Rating: {{product?.ratingsAverage}}</p>
            <p-rating [ngModel]="product?.ratingsAverage" [cancel]="false" [stars]="5" [disabled]="true"></p-rating>
            <p class="text-black-50 ms-4 mb-0">{{product?.ratingsQuantity}} Reviews</p>
          </div>
        </div>
        <div class="price">
          <span>{{product?.price}} </span>$
        </div>
        <div class="variant">
          <h3>SELECT A COLOR</h3>
          <ul>
            @for(image of product?.images; track image) {
              <li><img src="{{image}}" (click)="changeImageCover(image)"></li>
            }
          </ul>
        </div>
        <div class="description">
          <h3>Details</h3>
          <ul>
            <li>
              <h6>description</h6>
              {{product?.description}}
            </li>
            <li>
              <h6>Category</h6>
              {{product?.category.name}}
            </li>
            <li>
              <h6>Brand</h6>
              {{product?.brand?.name}}
            </li>

          </ul>
        </div>

        <p-toast />
        <button (click)="addProductToCart(product._id)" class="buy--btn">ADD TO CART</button>
      </div>
    </div>
  </div>
</section>
