.paginated-container {
  background-color: #fcfcfc;
}

ul {
  list-style: none;
}
ul li {
  padding: 8px 0;
  cursor: pointer;
  &:hover:not(:last-child) {
    scale: 1.05;
    color: #0D6FeD;
  }
  &.active {
    color: #0D6FeD;
    background-color: #cce2ff;
  }
}
ul li i {
  margin: 4px;
}

ul li span>span {
  color: #555;
  font-weight: 700;
}

ul li>span {
  margin: 0 10px;
}

@media (max-width: 1200px) {

  .container {
    max-width: 1150px;
  }
}
@media (max-width: 992px) {

  .container {
    max-width: 950px;
  }
}

:host ::ng-deep ul#pn_id_1_list {
  padding: 0;

}
:host ::ng-deep ul#pn_id_1_list {
  padding: 0;

}
:host ::ng-deep ul#pn_id_1_list li {
  font-weight: 700;
  border-bottom: 1px solid #eee;
  &:hover {
    color: #0D6FeD;
  }

}

