.card,
.products-container {
  background-color: #fcfcfc;
}


::ng-deep .p-carousel .p-carousel-prev,
::ng-deep .p-carousel .p-carousel-next {
  display: none !important;
}

.carousel-card:hover {
  scale: 1.05;
  cursor: pointer;
}
