<div [class]="display">
  <div class="font-weight-bold me-5">🔥 Hot Deals!</div>
  <div class="d-none d-lg-flex align-items-center">
    <span class="lh-1">Libero voluptatum atque exercitationem praesentium provident odit.</span>
  </div>
  <a class="d-flex align-items-center ms-4 me-5 text-white" href="#">
    <span class="text-decoration-underline font-weight-bold">Learn More</span>
  </a>
  <button class="btn btn-dark border-0 rounded-circle d-flex align-items-center justify-content-center"
    style="width: 2rem; height: 2rem;">
    <i class="pi pi-times" (click)="disappear()"></i>
  </button>
</div>
